extends ../layout
script(type='text/javascript', src='//apis.daum.net/maps/maps3.js?apikey=74673')
block content
  .container
    h1.page-header 상세 정보
          
    ul
      li 제목: #{post.title}
      li 상세 주소 : #{post.address}
      li 비용($) : #{post.price}
      li 방 개수 : #{post.room}
      li 화장실 개수 : #{post.toilet}
      li 주의사항 : #{post.info}
    p
      if(currentUser)
        if(currentUser._id.toString()==post.owner._id.toString())
          a.btn.btn-default(href='/posts/#{post._id}/edit') 게시글 수정
          | 
          a.btn.btn-default(href='/posts/#{post._id}?_method=DELETE') 게시글 삭제
        else
          a.btn.btn-default(href='/posts/') 숙소 목록